---
import CenterLayout from "@layouts/CenterLayout.astro";
import HighlightedText from "@components/HighlightText.astro";
import TextGradient from "@components/TextGradient.astro";

---

<CenterLayout>
    <TextGradient as="h2" class="text-6xl font-bold">
        KEVIN SUAREZ
    </TextGradient>

    <p class="text-white-900">
        Desarrollador de software con más de <HighlightedText>8 años de experiencia</HighlightedText> 
        en Backend, Frontend y gestión de proyectos. He desarrollado APIs, gestionado
        bases de datos relacionales y no relacionales, y liderado equipos bajo metodologías
        ágiles. Mi pasión por aprender me ha llevado a crear proyectos personales
        y a impartir cursos sobre desarrollo web. También optimizo tiempos utilizando
        herramientas de inteligencia artificial. Comprometido, propositivo y receptivo,
        aporto soluciones innovadoras y me adapto rápidamente a cualquier desafío
        profesional.
    </p>
</CenterLayout>
