---
const { title } = Astro.props;
---

<!doctype html>
<html lang="es" class="bg-red">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Kevin Suarez's webpage"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="relative text-gray-950 dark:text-white text-lg sm:text-base">
    <slot />
    
    <style is:global>
      :root {
      }

      html {
        font-family:
          Montserrat,
          Lucida Sans,
          Lucida Sans Regular,
          Lucida Grande,
          Lucida Sans Unicode,
          Geneva,
          Verdana,
          sans-serif;
        height: 100%;
        font-size: 16px;
      }

      body {
        height: auto;
      }
    </style>
  </body>
</html>